[Unit]
Description=Resource Monitor Service (Go Version)
After=network.target

[Service]
WorkingDirectory=/opt/resource_monitoring
ExecStart=/opt/resource_monitoring/resource_monitor
User=root
Restart=always

[Install]
WantedBy=multi-user.target
